/*------------------------------------------------------------------------
# JA Archenar for joomla 1.5 - Version 1.4 - Licence Owner JA976
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/
body, body#bd, #container, #content, #header h1, #footer {
	float: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #333333;
	background: #FFFFFF!important;
	font-family: Arial, Helvetica, sans-serif;
}

#header h1 a {
	border: none;
}

h1.header-logo img {
	visibility: visible;
}

#main {
	margin-top: 10pt;
}

h1, h2, h3, h4, .componentheading, .contentheading, .contentpagetitle, .createdate, .small, #spotlight h3 {
	color: #333333;
}

h1, .componentheading {
	font-size: 16pt;
}

h2, .contentheading, #spotlight h3 {
	font-size: 14pt;
	text-transform: none;
}

h4 {
	font-size: 12pt;
}

a, #spotlight a, #spotlight-1 a, #spotlight-2 a, #copyright a {
	border-bottom: 1pt solid #255EA8;
	color: #255EA8;
	background: transparent;
	text-decoration: none;
}

div {
	background: #FFFFFF;
}

td {
	font-size: 10pt;
}

#topnav, #leftcol, #search, #footer ul, #botshad, .buttonheading, .pagenav_prev, .pagenav_next, .back_button, #pathway, a.readon, .pagenavbar, input, select, textarea, .contenttoc {
	display: none;
}

#spotlight {
	border-top: 1pt dashed #999999;
	border-bottom: 1pt dashed #999999;
	margin: 10pt auto!important;
	color: #000000;
	text-align: left;
	background: #FFFFFF!important;
}

#copyright {
	border-top: 1pt dashed #999999;
	border-bottom: 1pt dashed #999999;
	margin-top: 10pt;
	padding-top: 6pt;
	padding-bottom: 6pt;
	color: #333333;
	font-size: 8pt;
	text-align: center;
}

.pagenavcounter {
	padding: 0 0 12pt 0;
	color: #333333;
	font-weight: bold;
}

#spotlight table, #spotlight td {
	padding: 0!important;
	margin: 0!important;
	color: #333333;
	text-align: left;
	background: #FFFFFF!important;
}

#spotlight-1, #spotlight-2 {
	width: 49%!important;
	margin-bottom: 10pt;
}

#spotlight-1 div,#spotlight-1 div h3, #spotlight-2 div, #spotlight-2 div h3 {
	background: #FFFFFF!important;
	color: #333333;
}

