@import "../../generic/ie/6.css";

#hotproperty ul.results li *		{margin-left:135px;}	/* 135 = 120(default thumbnail width) + 15(margin) */
#hotproperty ul.results li * *,
#hotproperty ul.results.types li *	{margin-left:0;}

.hotproperty.module.companies img,
#hotproperty ul.results .thumbnail img.photo {width:expression(this.width > 120 ? "120px" : this.width);}