@import "../../generic/ie/7.css";

#hotproperty.home ul.types			{margin-left:0;}
#hotproperty.home ul.types li.type	{zoom:1; *display:inline;}

#hotproperty .results dl.attributes	{margin-left:135px;}