#mooRainbow { font-size: 11px; color: #000; }

.moor-box {
	width: 172px; 
	height: 172px; 
	border: 1px solid #636163; 
	background-color: #f9f9f9;
}
.moor-overlayBox {
	width: 128px;
	height: 128px; 
	margin-top: 34px; 
	margin-left: 9px;
	border: 1px solid #000;
}
.moor-slider {
	border: 1px solid #000;
	margin-top: 34px; 
	margin-left: 145px;
	width: 16px;
	height: 128px;
}
.moor-colorBox {
	border: 1px solid #000; 
	width: 100px; 
	height: 19px; 
	margin-top: 8px; 
	margin-left: 9px;
}
.moor-currentColor {
	margin-top: 9px; 
	margin-left: 60px; 
	width: 50px; 
	height: 19px;
}
.moor-okButton {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	margin-top: 8px;
	margin-left: 114px;
	background: #e6e6e6;
	height: 21px;
	border: 1px solid #d6d6d6;
	border-left-color: #f5f5f5;
	border-top-color: #f5f5f5;
}
#mooRainbow label {
	font-family: mono;
}
/* Following are just <label> */
.moor-rLabel {
	visibility: hidden;
	margin-top: 100px;
	margin-left: 315px;
}
.moor-gLabel {
	visibility: hidden;
	margin-top: 125px;
	margin-left: 315px;
}
.moor-bLabel {
	visibility: hidden;
	margin-top: 150px;
	margin-left: 315px;
}
.moor-HueLabel {
	visibility: hidden;
	margin-top: 190px;
	margin-left: 315px;
}
span.moor-ballino {
	visibility: hidden;
	margin-top: 190px;
	margin-left: 370px;
}
.moor-SatuLabel {
	visibility: hidden;
	margin-top: 215px;
	margin-left: 315px;
}
.moor-BrighLabel {
	visibility: hidden;
	margin-top: 240px;
	margin-left: 315px;
}
.moor-hexLabel {
	visibility: hidden;
	margin-top: 275px;
	margin-left: 280px;
}

/* <input> */
.moor-rInput, .moor-gInput, .moor-bInput, .moor-HueInput, .moor-SatuInput, .moor-BrighInput { 
	width: 30px;
	visibility:hidden;
}
.moor-hexInput {
	visibility:hidden;
	width: 55px;
}
.moor-cursor {
	background-image: url(images/moor_cursor.gif); 
	width: 12px;
	height: 12px;
}
.moor-arrows {
	background-image: url(images/moor_arrows.gif);
	top: 9px; 
	left: 270px;
	width: 41px;
	height: 9px;
}
.moor-chooseColor {
	margin-top: 9px; 
	margin-left: 10px; 
	width: 50px; 
	height: 19px;
}