/*
	- @version:		$Id: styles.css 955 2010-03-01 12:35:59Z cy $
	- @package:		Hotproperty
	- @subpackage:	Styles
	- @copyright:	(C) 2009 Mosets Consulting
	- @url:			http://www.mosets.com/
*/

/* Colors:
	- gray:			ccc
	- white gray:	f7f7f7
	- error:		cc0000
	- 
*/

@import "../generic/styles.css";

#hotproperty .anchor		{color:#d7d7d7; font-size:.6em;}
#hotproperty form .invalid	{color:#cc0000;}

#hotproperty ul.results li						{border-color:#ccc;}
#hotproperty ul.results li > *					{margin-left:135px;}	/* 135 = 120(default thumbnail width) + 15(margin) */
#hotproperty ul.results.types li > *			{margin-left:0;}
#hotproperty ul.results .thumbnail				{margin-right:0; margin-left:-135px; width:120px; text-align:center;}
#hotproperty ul.results .thumbnail img.photo	{max-width:120px;}

#hotproperty form .results .property.featured,
#hotproperty.home ul.featured					{background-color:transparent;}

#hotproperty.home ul.featured				{padding:0;}
#hotproperty.home form p					{display:inline;}
#hotproperty.home ul.types					{padding-left:0; list-style:none;}
#hotproperty.home ul.types li.type			{padding:0; display:inline-block; vertical-align:top; width:49%;background:none;}
#hotproperty.home ul.types li.type .heading	{margin-top:0;}

#hotproperty form fieldset li			{margin:.5em 0;padding-top:4px;padding-bottom:4px;}
#hotproperty form fieldset fieldset li	{margin:0;}

#hotproperty.property .gallery							{background-color:#f7f7f7; padding:1em;}
#hotproperty.property .gallery a img					{border:none;}

#hotproperty.property .gallery .photos,
#hotproperty.property .gallery li.photo					{height:400px;}
#hotproperty.property .gallery .photos					{background-color:#fff; text-align:center;}
#hotproperty.property .gallery li.photo					{position:relative;}
#hotproperty.property .gallery .caption					{position:absolute; bottom:0; width:100%;}
#hotproperty.property .gallery .caption .heading			{display:block; font-weight:bold;}

#hotproperty.property .gallery .thumbnails a img		{border:1px solid #ccc; background-color:#fff; padding:.5em;}
#hotproperty.property .gallery ul.thumbnails			{margin-bottom:0;}
#hotproperty.property .gallery .thumbnail				{margin-left:.5em;}
#hotproperty.property .gallery .thumbnail:first-child	{margin-left:0;}

/* MODULES */

/** Forms */
.hotproperty.module.search form fieldset li			{margin:.5em 0;}
.hotproperty.module.search form fieldset fieldset li	{margin:0;}

/** Companies */
.hotproperty.module.companies img {max-width:120px;}

/** Feed **/
.hotproperty.module.feed a {background:url(../../../../images/M_images/livemarks.png) top left no-repeat; padding-left:20px;}
.row0{background-color:#EFEFEF;}
.form{overflow:hidden;}
#hotproperty #search{
	position:static !important;
	background:none !important;
	float:left !important;
}
.search{
	position:static !important;
	background:none !important;
	float:left !important;
	border:none !important;
}
#hotproperty .button{
	padding: 1px 4px 1px 4px;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
	background: #585C68;
	color: #FFFFFF;
	font: 11px Arial, sans-serif;
}
#hotproperty fieldset label{
	font-weight:bold;
	padding-left:4px;
}
#hotproperty fieldset ul li label{
	font-weight:normal;
	padding-left:0px;
}
.attributes legend span{
	font-weight:bold;
	padding-left:5px;
}
#hotproperty dd ul li{
	border : none !important;
	padding-left:10px !important;
}