/*
	- @version:		$Id: styles.css 958 2010-03-10 02:06:49Z cy $
	- @package:		Hotproperty
	- @subpackage:	Styles
	- @copyright:	(C) 2009 Mosets Consulting
	- @url:			http://www.mosets.com/
*/

/* GENERICS */

#hotproperty input,
#hotproperty select,
#hotproperty img.calendar	{vertical-align:middle;}
label abrr	{margin-left:.5em;}
#hotproperty .button,
#hotproperty form label, #hotproperty form legend {text-transform:capitalize;}
	
/* HOTPROPERTY STYLES */

#hotproperty .info								{padding:0.25em; background-color:InfoBackground;}
	
#hotproperty form .results .property.featured,
#hotproperty.home ul.featured					{background-color:Highlight;}

/** ANCHORS AND TITLE */

#hotproperty .anchor					{margin-left:0.25em; vertical-align:text-top; color:GrayText; font-size:.8em; text-decoration:none;}
#hotproperty .heading					{text-transform:capitalize;}
#hotproperty .heading .anchor			{visibility:hidden;}
#hotproperty .heading:hover .anchor		{visibility:hidden;}

#hotproperty .heading .thumbnail		{float:left; margin-right:1em;}

/** BUTTONS */

#hotproperty .buttons a img {border:none;}

/** ATTRIBUTES */

#hotproperty .attributes .caption					{float:left; margin-right:0.5em; text-transform:capitalize; font-weight:bold;}
#hotproperty .attributes .caption:after				{content:':';}
#hotproperty dl.attributes dd.value					{margin-left:0;}
#hotproperty .attributes .value ul					{padding-left:0; list-style-type:none; display:inline;}
#hotproperty .attributes .value ul li				{display:inline; padding:0 .5em; border-left:1px solid;}
#hotproperty .attributes .value ul li:first-child	{border-left:none; padding-left:0;}
#hotproperty .attributes dt + dd p					{margin:0 auto;}
#hotproperty .attributes .prefix					{margin-right:.5em;}
#hotproperty .attributes .suffix					{margin-left:.5em;}

/** ARRANGE & PAGING */

#hotproperty .arrange,
#hotproperty .paging			{padding:0.5em; overflow:hidden; border:1px solid;}

#hotproperty .arrange ul,
#hotproperty .paging ul			{padding-left:0; margin:0 auto; list-style-type:none; display:inline;}

/*** ARRANGE */

#hotproperty .arrange ul		{/*overflow:hidden;*/}
#hotproperty .arrange .label	{/*float:left; margin-right:0.5em;*/}

/**** LIMIT & ORDERING */

#hotproperty .arrange .limit			{float:right;}

#hotproperty .limit li,
#hotproperty .ordering li				{display:inline; padding:0 0.5em; border-left:1px solid; text-transform:capitalize;background:none;}
#hotproperty .limit li:first-child,
#hotproperty .ordering li:first-child	{border-left:none; padding-left:0;}
#hotproperty .limit li:last-child,
#hotproperty .ordering li:last-child	{padding-right:0;}

#hotproperty .ordering a.asc,
#hotproperty .ordering a.desc			{padding-right:16px; background-position:center right; background-repeat:no-repeat;}
#hotproperty .ordering a.asc			{background-image:url(../../../../images/sort_asc.png);}
#hotproperty .ordering a.desc			{background-image:url(../../../../images/sort_desc.png);}

/**** Filters */
#hotproperty .arrange fieldset.filters		{padding:0; margin:0; border:none;}
#hotproperty .arrange .filters legend		{display:none;}
#hotproperty .arrange .filters fieldset		{margin-left:0;}
#hotproperty .arrange .filters li			{margin:0; padding:0;}
#hotproperty .arrange .filters ul,
#hotproperty .arrange .filters li,
#hotproperty .arrange .filters fieldset,
#hotproperty .arrange .filters p			{display:inline; vertical-align:middle;}
#hotproperty .arrange .filters p 			{margin:0;}

/*** PAGING */

#hotproperty .paging .counter	{float:right;}

/**** PAGINATION */

#hotproperty .paging .pagination			{float:left;}

#hotproperty ul.pagination li				{display:inline; margin-right:0.5em; background:none;}
#hotproperty .pagination .active,
#hotproperty .pagination .previous a,
#hotproperty .pagination .next a			{font-weight:bold;}

#hotproperty ul.pagination li.active span	{background-color:highlight; color:highlightText;}

#hotproperty .pagination .previous span,
#hotproperty .pagination .next span			{border-color:GrayText; color:GrayText;}

#hotproperty ul.pagination li a,
#hotproperty ul.pagination li span			{padding:0.25em 0.5em; border:1px solid transparent;}

#hotproperty ul.pagination li a				{border-color:ActiveBorder;}

/** RESULTS */

#hotproperty ul.results					{list-style-type:none; padding-left:0; margin:0;}
#hotproperty ul.results li				{position:relative; overflow:hidden; padding:1em; border-bottom:1px dotted;background:none;}
#hotproperty ul.results li:last-child	{border-bottom:none;}
#hotproperty .results .heading			{margin-top:0;}
#hotproperty .results p.buttons			{position:absolute; top:0; right:0; margin:0; padding:inherit;}
#hotproperty .results p.more,
#hotproperty .results p.contact			{margin-bottom:0;}
		
#hotproperty table.results				{width:100%; background-color:ButtonFace; margin-top:1em;}
#hotproperty table.results thead		{text-align:center;}
#hotproperty table.results tbody		{background-color:Window;}
	
/** Forms */

#hotproperty form fieldset ol,
#hotproperty form fieldset ul					{list-style:none; padding-left:0; margin:0 auto;}

#hotproperty form fieldset fieldset				{border:none; padding:0; margin:0;}
#hotproperty form fieldset fieldset legend		{padding:0;}

/*** COMPOUND CONTROLS */

#hotproperty form fieldset fieldset.file label			{display:none;}
#hotproperty form fieldset fieldset.file .preview label	{display:inline; float:none; width:auto;}

#hotproperty form fieldset.range li 				{display:inline;background:none;padding:0 1em 0 0;}
#hotproperty form fieldset.range.moreorless label	{display:none;}

/*** LABELS ALIGNEMENT */

/**** TOP-ALIGNED */

/*#hotproperty form fieldset input,
#hotproperty form fieldset select,
#hotproperty form fieldset textarea				{display:block;}

#hotproperty form fieldset fieldset input,
#hotproperty form fieldset fieldset select,
#hotproperty form fieldset fieldset textarea	{display:inline;}*/

/**** LEFT-ALIGNED */

#hotproperty form fieldset li						{position:relative; clear:left;}
#hotproperty form fieldset label					{display:block; float:left; width:25%;}

#hotproperty form fieldset fieldset legend span		{display:block; position:absolute; top:0; left:0;}
#hotproperty form fieldset fieldset					{margin-left:25%;background-image:none;}

#hotproperty form fieldset.radio label,
#hotproperty form fieldset.checkbox label,
#hotproperty form fieldset.range label				{display:inline; float:none; width:auto;padding-right:0.5em;}

/**** RIGHT-ALIGNED */

/* todo */

/** GALLERY */

#hotproperty .gallery ul.photos				{margin:0; padding:0; list-style:none; overflow:hidden;}
#hotproperty .gallery ul.photos li.photo	{margin:0; padding:0;background:none;}

#hotproperty .gallery .nav					{}
#hotproperty .gallery ul.thumbnails			{padding-left:0; list-style:none;}
#hotproperty .gallery li.thumbnail			{display:inline-block;background:none;}

/* LAYOUTS */

/** HOME */

#hotproperty.home .types .heading .counter {margin-left:.25em;}

/** MANAGE */

#hotproperty.agent.manage p.info {margin-bottom:0;}

/* MODULES */

.hotproperty.module.companies img,
.hotproperty.module.agents img,
.hotproperty.module.properties img	{display:block;}

/** SEARCH **/

.hotproperty.module.search form fieldset	{border:none; padding:0; margin:0;}

.hotproperty.module.search ul {padding-left:0; list-style:none;}
.hotproperty.module.search form fieldset ol,
.hotproperty.module.search form fieldset ul					{list-style:none; padding-left:0; margin:0 auto;}

.hotproperty.module.search form fieldset fieldset				{border:none; padding:0; margin:0;}
.hotproperty.module.search form fieldset fieldset legend		{padding:0;}

.hotproperty.module.search form fieldset fieldset.file label			{display:none;}
.hotproperty.module.search form fieldset fieldset.file .preview label	{display:inline; float:none; width:auto;}

.hotproperty.module.search form fieldset.range li 							{display:inline;}
.hotproperty.module.search form fieldset.range.moreorless label	{display:none;}

.hotproperty.module.search form fieldset input,
.hotproperty.module.search form fieldset select,
.hotproperty.module.search form fieldset textarea				{display:block;}

.hotproperty.module.search form fieldset fieldset input,
.hotproperty.module.search form fieldset fieldset select,
.hotproperty.module.search form fieldset fieldset textarea	{display:inline;}
#hotproperty fieldset{background-image:none;}