#hotproperty fieldset fieldset legend	{font-size:1em; font-weight:normal;}

div.search#hotproperty input	{margin:0; width:auto;}

#leftcolumn div.module.hotproperty	{padding:0;}

#hotproperty #search	{float:none; height:auto; margin:0; overflow:auto; width:auto; text-align:center;}

#hotproperty p.more {overflow:hidden;}

/* MODULES */

/** Forms */
.hotproperty.module.search fieldset fieldset legend	{font-size:1em; font-weight:normal;}
div.search.hotproperty input	{margin:0; width:auto;}
.hotproperty.module.search #search	{float:none; height:auto; margin:0; overflow:auto; width:auto; text-align:center;}