/*------------------------------------------------------------------------
# JA Archenar for joomla 1.5 - Version 1.4 - Licence Owner JA976
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/
a {
	color: #767676;
	text-decoration: none;
}

a:hover, a:active {
	color: #B91919;
	text-decoration: underline;
}

.componentheading {
	color: #B91919;
}

#spotlight {
	border-bottom: 1px solid #999999;
	background: #B91919;
}

#spotlight table {
	background: url(../images/spotlight-bg-red.gif) repeat-y top left #C12E2E;
}

h1.header-logo {
	background: url(../images/logo-red.gif) no-repeat 10px 4px;
}

#topnav a:hover, #topnav a:active {
	background: url(../images/topnav-bg-2-red.gif) repeat-x bottom left;
}

#topnav a#active_menu-top {
	background: url(../images/topnav-bg-2-red.gif) repeat-x bottom left;
}

#pathway a {
	color: #B91919;
}

div.moduletable h3 {
	border-top: 1px solid #F7DEDE;
	border-bottom: 1px solid #F7DEDE;
	background: url(../images/h3-bg-red.gif) #F7DEDE;
}

.sectiontableheader {
	background: #B91919;
}
