/*------------------------------------------------------------------------
# JA Archenar for joomla 1.5 - Version 1.4 - Licence Owner JA976
# ------------------------------------------------------------------------
# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: J.O.O.M Solutions Co., Ltd
# Websites:  http://www.joomlart.com -  http://www.joomlancers.com
# This file may not be redistributed in whole or significant part.
-------------------------------------------------------------------------*/
/* SITE LAYOUT */
body {
	margin: 0;
	padding: 0;
	color: #353535;
	background: #FFFFFF;
	font: 11px Arial, Helvetica, sans-serif;
}

body#bd {
	margin: 10px 0;
	background: #585C68;
	text-align: center;
}

#container {
	width: 740px!important;
	width: 740px;
	margin: 0 auto;
	padding: 0 10px;
	background: url(../images/container-bg.gif) #FFFFFF;
	text-align: left;
}

#topnav {
	width: 740px!important;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 0 10px 10px;
	background: url(../images/topnav-bg.gif) repeat-x bottom left #585C68;
	font-size: 12px;
	text-align: left;
}

#header {
	width: 100%;
	position: relative;
}

h1.header-logo {
	font-size: 20px;
	margin: 0;
	padding: 4px 10px;
	background: url(../images/logo.gif) no-repeat 10px 4px;
	height: 40px!important;
	height: 48px;
	z-index: 1;
}

h1.header-logo img {
	visibility: hidden;
}

#main {
	width: 100%;
}

#leftcol {
	width: 20%;
	float: left;
	margin: 12px 26px 12px 12px;
	display: inline;
	position: relative;
}

#content {
	float: left;
	width: 73%;
	margin: 0px 0 0;
}

#content-full {
	width: 715px;
	margin: 12px 12px 0;
}

#footer {
	padding: 12px 6px 6px 0;
	color: #ABABAB;
	background: #353535;
	clear: both;
	text-align: left;
	margin-top: 12px;
}

#copyright {
	padding: 6px 12px 0;
}

#botshad {
	width: 740px!important;
	width: 740px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(../images/bot-shadow.gif) repeat-x bottom left #585C68;
	height: 16px;
}

/* NAVIGATION */
#topnav ul, #footer ul {
	margin: 0;
	padding: 0;
}

#topnav li {
	display: inline;
	background: none;
	padding: 0;
}

#footer li {
	display: inline;
	line-height: normal;
	background: none;
	padding: 0;
}

ul#mainlevel li, ul#mainlevel-nav li {
	padding: 0;
	margin: 0;
	background: none;
}

#topnav a {
	border-right: 1px solid #585C68;
	padding: 0 20px 11px 1px;
	color: #E6E6E6;
	font-weight: bold;
	text-transform: UPPERCASE;
}

#topnav a:hover, #topnav a:active {
	color: #FFFFFF;
	background: url(../images/topnav-bg-2.gif) repeat-x bottom left;
	text-decoration: none;
}

#topnav a#active_menu-top {
	color: #FFFFFF;
	background: url(../images/topnav-bg-2.gif) repeat-x bottom left;
	text-decoration: none;
}

#footer a {
	padding: 0 12px;
	border-right: 1px solid #585C68;
	color: #CCCCCC;
}

#footer a:hover, #footer a:active {
	color: #FFFFFF;
}

#leftcol a.mainlevel {
	padding-left: 12px;
	background: url(../images/arrow.png) no-repeat 0 5px;
}

a.sublevel {
	padding-left: 3px;
}

a.sublevel#active_menu {
	color: #FF6633;
	text-decoration: none;
}

/* LINKS */
a {
	color: #255EA8;
	text-decoration: none;
}

a:hover, a:active {
	color: #B91919;
	text-decoration: underline;
}

a.pagenav {
	font-weight: normal;
}

a.readon {
	padding-right: 6px;
	display: block;
	color: #B91919;
	text-decoration: none;
	text-align: right;
}

a.readon:hover, a.readon:active {
	padding-right: 0;
	color: #B91919;
	text-decoration: none;
}

#user-bar a {
	padding: 0 0 0 4px;
	background: none!important;
}

#spotlight a, #spotlight-1 a, #spotlight-2 a {
	color: #FFFFFF;
	text-decoration: underline;
}

#copyright a {
	padding: 0;
	border: none;
}

/* GENERAL */
textarea {
	padding-left: 2px;
	font: 11px/1.3em Arial, sans-serif;
}

th {
	font-weight: bold;
	font-size: 11px;
	text-align: left;
}

td {
	font-size: 11px;
}

fieldset {
	width: 538px;
	border: 0;
	margin: 0;
	padding: 6px 0 0 0;
}

fieldset a {
	font-weight: bold;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 12px 0;
	font-size: 16px;
	color: #666666;
}

h2 {
	margin: 12px 0;
	font-size: 14px;
	color: #666666;
}

h4 {
	margin: 12px 0;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

hr {
	border-top: 1px solid #D3CCC2;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}

input {
	margin-bottom: -1px;
	font: 11px Arial, sans-serif;
}

p {
	margin: 12px 0;
}

select {
	font: 11px Arial, sans-serif;
}

ul {
	margin: 12px;
	padding: 0;
	list-style: none;
}

ul li {
	padding-left: 12px;
	background: url(../images/arrow.png) no-repeat 0 6px;
	line-height: 140%;
}

ol {
	margin: 12px auto;
}

/* JOOMLA STYLE */
div.moduletable {
	width: auto!important;
	width: 100%;
	margin-bottom: 18px;
}

div.moduletable h3 {
	margin: 0 0 6px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	color: #666666;
	background: url(../images/h3-bg.gif) #F2F2F2;
	font-size: 16px;
	font-weight: bold;
	text-transform: lowercase;
}

div.moduletable td {
	padding: 3px 0!important;
}

table.contentpaneopen td, table.contentpane td {
	line-height: 140%;
}

table.contentpaneopen, table.contentpane, table.blog {
	width: auto!important;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.moduletable {
	width: 100%;
	background: #FFFFFF;
}

table.moduletable th {
	color: #DC9B44;
	background: none;
	font-weight: bold;
	font-size: 18px;
}

.adminform textarea {
	width: 540px!important; /*Control the Frontend Editor area width*/
}

.adminform textarea.inputbox {
	width: 440px!important; /*Control the Frontend Editor area width*/
}

table.polls {
	padding: 0;
	width: 100%;
	text-align: left;
}

table.pollstableborder {
	padding: 0;
	width: 100%;
	text-align: left;
}

#content table.pollstableborder {
	width: 540px!important;
	text-align: left;
	border: none;
}

table.pollstableborder td {
	padding: 2px 4px!important;
}

table.pollstableborder img {
	vertical-align: middle;
	margin: 4px 4px 4px 0;
}

table.searchintro {
	margin: 10px 0;
	width: 100%;
	background: #F2F2F2;
}

table.searchintro td {
	padding: 0 2px!important;
}

td.buttonheading {
	padding-left: 5px!important;
}
td.buttonheading img {
	border: none;
}
table.contenttoc {
	border: 1px solid #666666;
	margin: 0 0 10px 10px;
	width: 150px;
	background: #F2F2F2;
}

table.contenttoc th {
	padding: 4px 6px;
	background: #666666;
	color: #FFFFFF;
}

table.contenttoc td {
	padding: 1px 6px 1px 16px;
	background: url(../images/arrow.png) no-repeat 5px 7px;
}

.blog_more {
	margin: 10px 0;
	padding: 3px;
}

.button {
	padding: 1px 4px 1px 4px;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
	background: #585C68;
	color: #FFFFFF;
	font: 11px Arial, sans-serif;
}

.back_button {
	margin-top: 12px;
	text-align: right;
	display: block;
	width: 100%;
}

.category {
	font-weight: bold;
	font-size: 12px;
}

.code, pre {
	border: 1px solid #F0EEDE;
	width: auto;
	padding: 6px;
	background: #F7F6EE;
	font: 11px Arial, sans-serif;
}

.componentheading {
	padding-bottom: 2px;
	margin-bottom: 12px;
	color: #255EA8;
	background: url(../images/seperator.gif) repeat-x bottom left;
	font-size: 20px;
	font-weight: bold;
}

.contentdescription {
	padding: 0 0 12px!important;
	height: auto;
}

.contentheading {
	color: #666666;
	font-size: 16px;
	font-weight: bold;
}

.createdate {
	color: #666666;
	font-weight: bold;
	padding-bottom: 12px!important;
}

.error {
	color: #B91919;
}

.highlight {
	font-weight: bold;
}

.inputbox {
	padding-left: 2px;
	margin-bottom: 1px;
	font: 11px Arial, sans-serif;
}

.message {
	color: #DE9C31;
	font-weight: bold;
	font-size: 12px;
}

.modifydate {
	color: #666666;
	height: 20px;
}

.moduletable {
	padding: 0;
}

.mosimage {
	padding: 0;
	margin-right: 5px;
}

.mosimage img {
	margin: 0 6px 0 0!important;
	margin: 0 0 0 -6px;
	border: 2px solid #EFEFEF;
}

.mosimage_caption {
	margin-top: 2px;
	color: #999999;
}

.pagenav {
	padding: 2px;
}

.pagenav_prev a, .pagenav_next a {
	color: #666666;
}

.pagenav_prev a:hover, .pagenav_prev a:active, .pagenav_next a:hover, .pagenav_next a:active {
	color: #B91919;
	text-decoration: none;
}

.pagenavbar {
	padding-left: 16px;
	background: url(../images/pages.gif) no-repeat center left;
	font-weight: bold;
}

.pagenavcounter {
	padding: 0 16px 10px 16px;
	color: #666666;
	background: url(../images/pages.gif) no-repeat 0 3px;
	font-weight: bold;
}

tr.sectiontableentry1 td {
	padding: 3px 4px;
}

tr.sectiontableentry2 td {
	padding: 3px 4px;
	background: #F2F2F2;
}

.sectiontableheader {
	padding: 3px 4px!important;
	border-top: 4px solid #FFFFFF;
	background: #666666;
	color: #FFFFFF;
	font-weight: bold;
}

.sectiontableheader a, .sectiontableheader a:hover {
	color: #FFFFFF;
}

.sectiontablefooter {
	padding-bottom: 3px!important;
	background: url(../images/seperator.gif) repeat-x 0 90%;
	height: 20px;
}

.small {
	color: #666666;
}

/* PATHWAY HACKED */
#pathway {
	color: #FFFFFF;
	font-size: 0%;
	line-height: normal!important;
	line-height: 0%;
}

#pathway img {
	visibility: hidden;/* DO NOT SHOW PATHWAY DEFAULT ARROW */
}

#pathway a {
	padding-right: 10px;
	background: url(../images/arrow-off.gif) no-repeat 100% 50%;
	font-size: 11px!important;
}

#pathway a:hover, #pathway a:active {
	background: url(../images/arrow-on.gif) no-repeat 100% 50%;
	text-decoration: none;
}

#search {
	float: right;
	padding: 6px 16px 6px;
	background: url(../images/h3-bg.gif) repeat-y center right;
	position: absolute;
	top: 8px;
	right: 0;
}

.search {
	padding-left: 16px;
	background: url(../images/search-icon.gif) no-repeat center left;
}

/* MIS. */
#user-bar {
	position: absolute;
	right: 12px;
	top: 0;
	height: 10px;
}

#user-bar li, #user-bar ul {
	padding: 0;
	margin: 0;
}

#spotlight {
	background: #76B428;
	color: #FFFFFF;
	text-align: right;
	border-bottom: 1px solid #999999;
	padding: 12px 0; 
}

#spotlight div {
	padding: 0;
	margin: 0;
}

#spotlight h3 {
	margin: 0 100px 6px 0;
	border: none;
	color: #FFFFFF;
	background: none;
	font-size: 16px;
	text-transform: lowercase;
}

#spotlight table {
	background: url(../images/spotlight-bg.gif) repeat-y top left #83BD3B;
	color: #FFFFFF;
	text-align: right;
}

#spotlight td {
	padding: 8px 100px 8px 60px!important;
}

#spotlight-1 {
	width: 262px!important;
	width: 262px;
	background: #B91919;
	color: #FFFFFF;
	float: left;
	border: 1px solid #C6C6C6;
}

#spotlight-1 div {
	padding: 6px 12px !important;
   padding: 0px 0px;
	margin: 0;
	background: url(../images/spotlight-bg-red.gif) repeat-y top left #C12E2E;
}

#spotlight-1 h3 {
	background: #B91919;
	color: #FFFFFF;
	border: none;
	margin: -6px -12px 6px -6px;
	padding: 6px;
}

#spotlight-2 {
	width: 262px!important;
	width: 262px;
	background: #255EA8;
	color: #FFFFFF;
	float: right;
	border: 1px solid #C6C6C6;
}

#spotlight-2 div {
	padding: 6px 12px !important;
   padding: 0px 0px;
	margin: 0;
	background: url(../images/spotlight-bg-blue.gif) repeat-y top left #386DB2;
}

#spotlight-2 h3 {
	background: #255EA8;
	color: #FFFFFF;
	border: none;
	margin: -6px -12px 6px -6px;
	padding: 6px;
}

#leftcol ul {
	padding: 0;
	margin: 0;
}

body.contentpane {
	margin: 12px;
}

#spotlight .article_separator {
	display: none;
}

.article_separator {
	display: block;
	background: url(../images/seperator.gif) repeat-x top left;
}

.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.input {
   width:100%;
}