#hotproperty .arrange,
#hotproperty .paging			{/*width:100%;*/}

#hotproperty .paging	{zoom:1;}

#hotproperty ul.results li	{/*width:100%;*/zoom:1;}
#hotproperty table.results	{width:auto;}

#hotproperty form fieldset fieldset		{margin-left:0; position:relative;}
#hotproperty form fieldset fieldset ul,
#hotproperty form fieldset fieldset ol	{margin-left:25%; position:relative; left:3px;}	/*position:relative + left:3px to fix peek-a-boo bug*/
#hotproperty form fieldset label		{width:25%;}

#hotproperty form fieldset.range label	{width:auto;}