#hotproperty .arrange ul,
#hotproperty .paging ul		{margin-left:0;}

#hotproperty .results p.buttons	{padding:1em;}
#hotproperty .results dl.attributes	{margin-left:0;}

#hotproperty .gallery ul.photos		{position:relative;}
#hotproperty .gallery ul.thumbnails	{margin-left:0;}
#hotproperty .gallery li.thumbnail	{zoom:1; *display:inline;}

#hotproperty .attributes .value ul	{margin-left:0;}

#hotproperty form fieldset ol,
#hotproperty form fieldset ul	{margin-left:0;}

#hotproperty form li	{overflow:hidden;}

