#hotproperty form fieldset legend	{color:#000;}

#hotproperty .limit li,
#hotproperty .ordering li	{border-left:expression(this.previousSibling == null ? 'none' : 'inherit');}

#hotproperty ul.results li	{border-bottom:expression(this.nextSibling == null ? 'none' : 'inherit');}

#hotproperty .attributes .value ul li	{border-left:expression(this.previousSibling == null ? 'none' : 'inherit');}