#main #hotproperty .types ul	{list-style-position:outside;}

#main #hotproperty form fieldset li		{padding-left:0; margin:0;}

#main #hotproperty .attributes .value ul	{margin:0;}

#main #hotproperty .paging		{border:none; padding:0;}
#main #hotproperty .pagination	{margin-top:0; width:100%;}