#ja-content #hotproperty ul.results li,
#ja-content #hotproperty .arrange ul li			{background-image:none;}
#ja-content #hotproperty .paging				{border:none; padding:0;}
#ja-content #hotproperty ul.pagination			{width:100%;}
#ja-content #hotproperty ul.pagination li a,
#ja-content #hotproperty ul.pagination li span	{display:inline;}
/*#ja-content #hotproperty ul.types li			{padding-left:0;background-image:none;}*/
#ja-content #hotproperty form fieldset li		{padding-left:0; margin-left:0; background-image:none;}
#ja-content #hotproperty form fieldset fieldset	{background-image:none;}
#ja-content #hotproperty .attributes .value ul li	{background-image:none;}
#ja-content #hotproperty p.more {overflow:hidden;}