table.calendar-year {background-color: transparent;}
td.calendar-month {background-color: transparent;padding:.25em 1em;}
td.calendar-month td.calendarHeader {color:#aaa;}
/*tr.calendarHeader {display:inline-block;border-bottom:1px solid red;}
*/
td.calendarHeader-month {font-weight:bold;}
table.calendar td {text-align: center; padding:.1em;}
table.calendar td.calendarDate {border: 0px solid #c0c0c0;}
table.calendar td.calendarToday {background-color: #ffae00;}
select.inputbox2 {width: 60px;}

table.avl-legend {
	margin-top:3em;
	border: 1px solid #C0C0C0
}
h2.current-year {
	text-align:center;
	font-size:1.6em;
	font-weight:bold;
	margin-bottom:1em;
}
h3.next-year {
	float:right;
	text-align:right;
	font-size:1.2em;
}
h3.previous-year {
	float:left;
	font-size:1.2em;
}
p.return-to-property {
	margin:3em 0 1em 0;
}
p.return-to-property a {
	padding:2em 4em;
}
