/*
	- @version:		$Id: styles.css 768 2009-07-20 16:08:57Z abernier $
	- @package:		Hotproperty
	- @subpackage:	Plugins.Gallery.Styles
	- @copyright:	(C) 2009 Mosets Consulting
	- @url:			http://www.mosets.com/
*/

