@import "styles.css";

/* Sidemenu */
#element-box {
	/*position:relative;
	margin-left:200px;*/
}
#element-box form,
#element-box #guide,
#element-box #submenu-wrap {
	margin-left:175px;
}
#sidemenu {
	width:165px;
	/*position:absolute;
	top:0;
	left:-200px;*/
	float:left;
}
#sidemenu div.m,
#guide div.m {
	padding:0!important;
}
#sidemenu .pane-sliders .panel {
	margin-bottom:0;
	border-bottom:0;
	border-left:0;
	border-right:0;
}
#sidemenu dt,
#sidemenu a:hover,
#sidemenu dd.active a {
	color:#666;
}
#sidemenu dl {
	margin:0;
	margin-top:5px;
	border-bottom:1px solid #ccc;
}
#sidemenu dt {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	padding:2px;
	padding-left:8px;
	background:#f6f6f6 url(../images/j_arrow_down.png) 0px 0px no-repeat;
	line-height: 1.4em;
}
#sidemenu dd {
	border-bottom:1px solid #E9E9E9;
	margin-left:0;
	line-height: 1.4em;
}
#sidemenu dd.zebra {
/*	background-color:#f9f9f9;*/
}
#sidemenu dd.last {
	border-bottom:0;
}
#sidemenu a {
	color:#999;
}
#sidemenu dd a {
	display:block;
	padding:2px;
	padding-left:8px;
	font-weight:bold;
	text-decoration:none;
}
#sidemenu dd a:hover {
	background-color:#FFFFDD;
}
#sidemenu dd a.active {
	/*font-style:italic;*/
}
/* EOF Sidemenu */

/* Guide */
#guide {
	margin-bottom:7px;
}
#guide fieldset {
	background-color:#FFFFDD;
}
#guide legend {
	font-size:13px;
}
#guide .content {
	margin-left:15px;
}
#guide .step {
	display:block;
	font-size:110%;
	margin-bottom:0.5em;
	font-weight:bold;
	text-decoration:underline;
	text-transform:uppercase;
}
/* EOF Guide */

#submenu-box ul {
	overflow:hidden;
}

table#filters label {margin-right:.5em;}
table#filters label:after {content:':';}

.header,
.toolbar .button,
table.admintable .key label,
table.adminlist th {
	text-transform:capitalize;
}

a.credits {
	display:block;
	text-align:center;
	position:relative;
	top:3px;
}

.calendar {
	vertical-align:middle;
}

/* Advice */
p.info {
	background:#FFFFDD none repeat scroll 0 0;
	color:#666666;
	display:block;
	padding:5px;
	margin-top:0;
	margin-bottom:7px;
	/*font-style:italic;*/
}
/* EOF Advice */

/* Validation */
.invalid {
	color:#CC0000;
}
/* EOF Validation */

.photogrid img {
	background:url(../images/imggrid.png);
	border:1px solid silver;
}

td.key label {
	display:block;
}
.hasTip{
	cursor:help;
}

table.admintable td fieldset {
	border:none;
}
table.admintable td ul {
	padding:0;
	margin:0;
}
table.admintable td li {
	display:inline;
}

form fieldset ul,
form fieldset ol {list-style:none; padding-left:0;}