.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0pt;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height:1%;}
.clearfix {display:block;}
/* End hide from IE-mac */

.hidden {
	display:none;
}

.inline {
	float:left;
	line-height:normal;
	overflow:hidden;
	width:100%;
}
.inline ul {
	list-style:none;
}
.inline ul li {
	display:inline;
}
.inline ul li * {
	float:left;
}
.inline ul li * * {
	float:none;
}
